<div class="loader">
    <div class="clearfix">
        <section class="icon ion-loading-a"></section>
        <h1>Euphexya</h1>
    </div>
</div>

<div id="home-slider">
    <ul class="bjqs">

        <li><div id="1" class="home-slide" style="background:url('/assets/header1.jpg');"
            title="go?"></div></li>    
        <li><div id="2" class="home-slide" style="background:url('/assets/header8.jpg');"></div></li>   
        <li><div id="3" class="home-slide" style="background:url('/assets/header4.jpg');"></div></li>

    </ul>
</div>

<!--<div class="home_banner_cycle">
    <div class="cycle-slideshow"      
            data-cycle-slides="> .cycle-slide">
        


        <div id="progress"></div>       

        <div class="cycle-pager"></div>

        <div class="cycle-overlay"></div>


        
        <div class="cycle-slide" style="background:url('/assets/header1.jpg');"
            data-cycle-title="<h2><span><i class='icon ion-settings'></i></span> Variety</h2>" 
            data-cycle-desc="<p>Choose your prefered technology. With experience in a dozen different web development tools, our service delivers.</p>"></div>
        
        <div class="cycle-slide" style="background:url('/assets/header8.jpg');" 
            data-cycle-title="<h2><span><i class='icon ion-ios7-timer'></i></span> Speed</h2>" 
            data-cycle-desc="<p>Consice, intelligent, simple and above all Q-U-I-C-K. Get done with whatever you want to fast and without bothers.</p>"></div>
        
        <div class="cycle-slide" style="background:url('/assets/header4.jpg');"
            data-cycle-title="<h2><span><i class='icon ion-archive'></i></span> Free For All</h2>" 
            data-cycle-desc="<p>Downloadable source code for free, use it however you want to, even for commercial purposes.</p>"></div>
        
    </div>
</div>-->

<div class="home-destaque">
</div>