<div class="loader">
    <div class="clearfix">
        <section class="icon ion-loading-a"></section>
        <h1>Euphexya</h1>
    </div>
</div>


<div class="home-destaque">
    <a href="#home_banner_cycle" data-no-turbolink="true">Slider</a>
</div>


<div id="home_banner_cycle" class="home_banner_cycle">
    <div class="cycle-slideshow"     
            data-cycle-pause-on-hover="true"
            data-cycle-slides="> .cycle-slide">
        


        <div id="progress"></div>    
        <div class="cycle-pager"></div>
        <div class="cycle-overlay"></div>


        
        <div class="cycle-slide" data-image-insert="/assets/header1.jpg"
            data-cycle-title="<h2><span><i class='icon ion-settings'></i></span> Variety</h2>" 
            data-cycle-desc="<p>Choose your prefered technology. With experience in various tools, we intend to make you understand.</p>"></div>
        
        <div class="cycle-slide" data-image-insert="/assets/header8.jpg"
            data-cycle-title="<h2><span><i class='icon ion-ios7-timer'></i></span> Speed</h2>" 
            data-cycle-desc="<p>Consice, simple and above all Q-U-I-C-K. Learn faster than ever before.</p>"></div>
        
        <div class="cycle-slide" data-image-insert="/assets/header4.jpg"
            data-cycle-title="<h2><span><i class='icon ion-archive'></i></span> Free For All</h2>" 
            data-cycle-desc="<p>Downloadable source code for free, use it however you want to, even for commercial purposes.</p>"></div>
        
    </div>
</div>
