<div class="home_banner_cycle">
    <div class="cycle-slideshow"  style="z-index:10;"
         data-cycle-fx=scrollHorz
         data-cycle-timeout="7200"
         data-cycle-swipe=true
         data-cycle-slides="> .cycle-slide"
         >
        
        <!-- progress bar -->
        <div id="progress"></div>
        
        <!-- togglePause -->
        <div class="cycle-togglePause">||</div> 
        
        <!-- empty element for pager links-->
        <div class="cycle-pager"></div>
        
        <!-- empty element for overlay -->
        <div class="cycle-overlay"></div>
        
        <div class="cycle-slide" style="background:url('assets/header1.jpg');"
            data-cycle-title="<h3><span><i class='icon ion-settings'></i></span> Variety</h3>" 
            data-cycle-desc="Choose your prefered technology. With experience in a dozen different web development tools, our service delivers."></div>
        
        <div class="cycle-slide" style="background:url('assets/header8.jpg');" 
            data-cycle-title="<h3><span><i class='icon ion-ios7-timer'></i></span> 
                Speed</h3>" 
            data-cycle-desc="Consice, intelligent, simple and above all Q-U-I-C-K. Get done with whatever you want to fast and without bothers."></div>
        
        <div class="cycle-slide" style="background:url('assets/header4.jpg');"
            data-cycle-title="<h3><span><i class='icon ion-archive'></i></span> 
                Free For All</h3>" 
            data-cycle-desc="Downloadable source code for free, use it however you want to, even for commercial purposes."></div>
        
    </div>
</div>

<div class="home-destaque">
</div>