<div class="home_banner_cycle">
    <div class="cycle-slideshow"  style="z-index:10;"
         data-cycle-fx=scrollHorz
         data-cycle-swipe=true
         data-cycle-slides="> .cycle-slide"
         >
        
        <!-- progress bar -->
        <div id="progress"></div>
        
        <!-- togglePause -->
        <div class="cycle-togglePause">||</div> 
        
        <!-- empty element for pager links-->
        <div class="cycle-pager"></div>
        
        <!-- empty element for overlay -->
        <div class="cycle-overlay"></div>
        
        <div class="cycle-slide" style="background:url('assets/header1.jpg');"
            data-cycle-title="<h3><span><i class='icon ion-clock'></i></span> 
                Aestaesis</h3>" 
            data-cycle-desc="Grande espetáculo imperdivél."></div>
        
        <div class="cycle-slide" style="background:url('assets/header8.jpg');" 
            data-cycle-title="<h3><span><i class='icon ion-clipboard'></i></span> 
                Em Convivio</h3>" 
            data-cycle-desc="Todos podem vir."></div>
        
        <div class="cycle-slide" style="background:url('assets/header4.jpg');"
            data-cycle-title="<h3><span><i class='icon ion-archive'></i></span> 
                In Motion</h3>" 
            data-cycle-desc="Em espirito e carne."></div>
        
    </div>
</div>

<div class="home-destaque">
</div>