/* SASS Mixins and Variables */


$ColAccepted: #71E180;
$ColStandard: #54D0D9;
$ColPrimary: #2D90F0; /*2D90F0*/
$ColWarning: #F0C851;
$ColError: #F86055;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($speed) {
	-webkit-transition: all $speed ease-out;
    -moz-transition: all $speed ease-out;
    -o-transition: all $speed ease-out;
    -ms-transition: all $speed ease-out;
    transition: all $speed ease-out;
}

@mixin box-sizing() {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin primary-horz-grad($targCol, $darkenPercent, $opac) {
  background: darken($targCol, $darkenPercent);
  background: -moz-linear-gradient(left, rgba(darken($targCol, $darkenPercent), $opac) 0%, rgba($targCol, $opac) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba($targCol, $opac)), color-stop(100%, rgba($targCol, $opac)));
  background: -webkit-linear-gradient(left, rgba(darken($targCol, $darkenPercent), $opac) 0%, rgba($targCol, $opac) 100%);
  background: -o-linear-gradient(left, rgba(darken($targCol, $darkenPercent), $opac) 0%, rgba($targCol, $opac) 100%);
  background: -ms-linear-gradient(left, rgba(darken($targCol, $darkenPercent), $opac) 0%, rgba($targCol, $opac) 100%);
  background: linear-gradient(to right, rgba(darken($targCol, $darkenPercent), $opac) 0%, rgba($targCol, $opac) 100%);
}