/*/ Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com*/


@import 'vars';

.home_banner_cycle { }
.home-destaque { width:100%; min-height:165px; padding:0; color:#FAFAFA; background:#FAFAFA; }