<!DOCTYPE html>
<html>
<head>
  <title>Euphexya Tuts - Home of Knowledge</title>
 
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,300italic,400,400italic,600,600italic,700,700italic' 
    rel='stylesheet' type='text/css'>

    <link rel="icon" href="assets/fav.ico" type="image/x-icon" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="pallet clearfix">
	<div id="accepted"></div>
	<div id="standard"></div>
	<div id="primary"></div>
	<div id="warning"></div>
	<div id="error"></div>
</div>


<div class="loader">
	<div class="clearfix">
		<section class="icon ion-loading-a"></section>
		<h1>Euphexya</h1>
	</div>
</div>





<header class="mainhead clearfix">
	<div class="logo">
		<h1>Euphexya</h1><span>| Home of Knowledge | - Follow fresh and original tutorials</span>
	</div>
	<nav class="clearfix">
		<a href="#">Who We Are</a>
		<a href="#">Tutorials</a>
		<a href="#">Blog</a>
		<a href="#">u-Teach</a>
	</nav>
</header>

<div class="body">
	<%= yield %>
</div>

<footer></footer>







<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
